<h2>Post creation</h2>

<form
*ngIf="!isSuccessful"
name="form"
(ngSubmit)="f.form.valid && onSubmit()"
#f="ngForm"
novalidate
>
  <div class="plain-row">
    <label for="post-title">Title:</label>
    <div style="margin-left: auto;" class="plain-row">
        <label>Image attachment: </label>
        <input
        id="btn-browse-images"
        type="file"
        name="image"
        [(ngModel)]="form.image"
        (change)="fileSelect($event)"
        #image="ngModel">
    </div>
  </div>
  <input
  id="post-title"
  type="text"
  class="form-control"
  name="title"
  [(ngModel)]="form.title"
  required
  maxlength="100"
  #title="ngModel"
  (input)="serverErrors.title = null">
  <div class="alert-danger" *ngIf="(title.errors && f.submitted) || serverErrors.title">
    <div *ngIf="title?.errors?.['required']">title is required</div>
    <div *ngIf="title?.errors?.['maxlength']">
      title must be at most 100 characters
    </div>
    <ng-container *ngIf="serverErrors.title">
      <div *ngFor="let error of serverErrors.title;">{{ error }}</div>
    </ng-container>
  </div>

  <div style="margin-top: 2vh;" class="plain-row">
      <label for="post-body">Content:</label>
  </div>
  <textarea
  id="post-body"
  type="text"
  class="form-control"
  name="body"
  [(ngModel)]="form.body"
  required
  maxlength="512"
  #body="ngModel"
  (input)="serverErrors.body = null"></textarea>
  <div class="alert-danger" *ngIf="(body.errors && f.submitted) || serverErrors.body">
    <div *ngIf="body?.errors?.['required']">Content is required</div>
    <div *ngIf="body?.errors?.['maxlength']">
      Content must be at most 512 characters
    </div>
    <ng-container *ngIf="serverErrors.body">
      <div *ngFor="let error of serverErrors.body;">{{ error }}</div>
    </ng-container>
  </div>

  <button style="margin-top: 2vh;" id="btn-submit-post">Submit post</button>
  <div class="alert alert-warning" *ngIf="f.submitted && isSubmitPostFailed">
      Post upload failed!<br />{{ errorMessage }}
  </div>
</form>

<div class="alert alert-success" *ngIf="isSuccessful">
    Your post upload is successful!
</div>