body {
    font-family: sans-serif, Helvetica, Arial;
    background-color: rgb(247, 247, 247);
}

p {
    white-space: pre-wrap;
    border-style: solid;
    border-width: thin;
    padding: 1vw;
    background-color: rgb(255, 255, 255);
}
section p {
    margin-bottom: 0;
}

:focus {
    outline: none;
}
.likes, .dislikes {
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-out;

    transition: 0.3s;
    border: none;
    border-style: solid;
    border-top-style: none;
    border-width: thin;
    background: rgb(235, 235, 235);
    /* min-width: 5rem; */
}
.dislikes button,
.likes button {
    transition: 0.3s;
    background: none;
    border: none;
}
.post-like-or-dislike-layout .likes, .post-like-or-dislike-layout .dislikes {
    border-top-style: solid;
}
/* .hover-like-icon, .submitted-like-icon, .hover-dislike-icon, .submitted-dislike-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.likes .default-like-icon:hover {
    opacity: 1;
} */

.likes:before, .dislikes:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
.likes:before {
    background-image: linear-gradient(0deg, rgba(24, 26, 27, 0.13) 0%, rgba(0, 47, 255, 0.441) 100%);
}
.dislikes:before {
    background-image: linear-gradient(180deg, rgba(24, 26, 27, 0.13) 0%, rgba(201, 0, 0, 0.441) 100%);
}

.likes:hover:before, .dislikes:hover:before {
    opacity: 1;
}

.likes:active {
    background-image: linear-gradient(60deg, rgba(24, 26, 27, 0.13) 0%, rgba(0, 217, 255, 0.441) 100%);
}
.dislikes:active {
    background-image: linear-gradient(60deg, rgba(24, 26, 27, 0.13) 0%, rgba(255, 0, 0, 0.441) 100%);
}

.likes.active {
    background-color: rgba(0, 17, 255, 0.55);
}
.dislikes.active {
    background-color:rgba(255, 0, 0, 0.7)
}

.likes > span, .dislikes > span {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.likes > button {
    margin-right: 0.2rem;
}
.dislikes > button > img {
    transform: rotate(180deg);
}

h2, h4 {
    border-bottom-style: solid;
    border-width: thin;
}

.image-attachment {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.plain-row {
    display: flex;
    flex-direction: row;
}
.flex-content-to-the-left {
    justify-content: start;
}
.flex-content-to-the-right {
    justify-content: end;
}
.margin-above {
    margin-top: 1rem;
}
.margin-below {
    margin-bottom: 1rem;
}
.margin-right-of {
    margin-right: auto;
}
.margin-left-of {
    margin-left: auto;
}

section {
    min-height: 7vh;
}

form button {
    width: 100%;
}
#btn-submit-post-comment {
    margin-top: 2vh;
}

.btn-edit {
    background-image: linear-gradient(-70deg, rgba(24, 26, 27, 0.09) 0%, rgba(151, 0, 0, 0.1) 97%);
    border-color: rgba(26, 46, 138, 0.5);
    color: rgb(76, 97, 216);
    /* color: #648aa4 */
    background-color: rgb(24, 26, 27);
}
.btn-delete {
    background-image: linear-gradient(-180deg, rgba(24, 26, 27, 0.09) 0%, rgba(151, 0, 0, 0.1) 97%);
    border-color: rgba(138, 83, 26, 0.5);
    color: rgb(216, 97, 76);
    background-color: rgb(24, 26, 27);
}

button {
    height: fit-content;
}

.hidden {
    display: none;
}

.role {
    margin-left: 5px;
}