body {
    font-family: sans-serif, Helvetica, Arial;
    background-color: rgb(247, 247, 247);
}

p {
    white-space: pre-wrap;
    border-style: solid;
    border-width: thin;
    padding: 1vw;
    background-color: rgb(255, 255, 255);
}
section p {
    margin-bottom: 0;
}

/* .likes button {
    background-color: burlywood;
    transition: 0.3s;
} */
.likes.active button {
    transition: 0.3s;
    background-color: blue;
    color: white;
}
.dislikes.active button {
    background-color:red;
}

h2, h4 {
    border-bottom-style: solid;
    border-width: thin;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.plain-row {
    display: flex;
    flex-direction: row;
}
.flex-content-to-the-right {
    justify-content: end;
}
.margin-above {
    margin-top: 1rem;
}
.margin-below {
    margin-bottom: 1rem;
}
.margin-right-of {
    margin-right: auto;
}
.margin-left-of {
    margin-left: auto;
}

section {
    min-height: 7vh;
}

form button {
    width: 100%;
}

.btn-edit {
    background-image: linear-gradient(-180deg, rgba(24, 26, 27, 0.09) 0%, rgba(151, 0, 0, 0.1) 97%);
    border-color: rgba(26, 46, 138, 0.5);
    color: rgb(76, 97, 216);
    /* color: #648aa4 */
    background-color: rgb(24, 26, 27);
}
.btn-delete {
    background-image: linear-gradient(-180deg, rgba(24, 26, 27, 0.09) 0%, rgba(151, 0, 0, 0.1) 97%);
    border-color: rgba(138, 83, 26, 0.5);
    color: rgb(216, 97, 76);
    background-color: rgb(24, 26, 27);
}

.hidden {
    display: none;
}