<div class="alert alert-success" *ngIf="postDeletionIsSuccessful">
    The post{{ post && post.title ? (' "' + post.title + '"' + (post?.user?.name ? ' by "' + post.user?.name + '"' : '')
    ) : '' }} was successfully deleted!
</div>
<ng-container *ngIf="!postDeletionIsSuccessful">
    <ng-container *ngIf="!!post; else noPost">

        <form name="post-controls" class="{{ (currentUser?.is_admin || post?.user_id === currentUser?.id) ? '' : 'hidden' }}"
            (ngSubmit)="deletePost()"><button class="btn btn-delete" (click)="deletePost()">Delete post</button>
            <div class="alert alert-warning" *ngIf="f.submitted && isPostDeletionFailed">
                Post deletion failed!<br />{{ postDeletionErrorMessage }}
            </div>
        </form>

        <img [src]="imageUrl" class="image-attachment hidden" onload="this.classList.remove('hidden')">

        <h2>{{ post?.title }}</h2>
        <h5>
            by <a routerLink="/users/{{post.user_id}}">
                {{ post.user ?
                (post?.user?.name) :
                (post.userLoadingError ?
                '[Error: ' + post.userLoadingError + ']' :
                '[Loading Username...]') }}
            </a>
            <span class="role" *ngFor="let role of post?.user?.roles_info">[{{role.name}}]</span>
        </h5>
        <p>{{ post?.body }}</p>
        <div class="plain-row flex-content-to-the-right margin-below post-like-or-dislike-layout">
            <div class="likes {{ post?.opinion === 'liked' ? 'active' : '' }}">
                <span>{{ post?.likes }}</span><button (click)="likePost()"> <img src="assets/like-&-dislike-light-theme-icon.png" class="default-like-icon"></button>
            </div>
            <div class="dislikes {{ post?.opinion === 'disliked' ? 'active' : '' }}">
                <span>{{ post?.dislikes }}</span><button (click)="dislikePost()">
                    <img src="assets/like-&-dislike-light-theme-icon.png" class="default-dislike-icon"></button>
            </div>
        </div>
    </ng-container>

    <ng-template #noPost>
        <h3 *ngIf="!isLoadingPost; else loadingPost">Sorry, but this post doesn't exist.</h3>
    </ng-template>

    <ng-template #loadingPost>
        <h3>Loading Post...</h3>
    </ng-template>

    <!-- <div class="alert alert-warning" *ngIf="(isCommentLikeFailed || isCommentDislikeFailed) ? '' : 'hidden'">
        You cannot submit any likes or dislikes without logging in. <a routerLink="../../register">Sign Up?</a>
        Or if you already have an account, <a routerLink="../../login">Login?</a>
    </div> -->

    <hr>
    <h4>Comment Section</h4>
    <section>
        <ng-container *ngFor="let postComment of postComments">
            <div class="plain-row flex-content-to-the-left margin-above margin-right-of">
                <div class="plain-row">
                    <img height="40" width="40" src="assets/default-profile-icon.png">
                    <a routerLink="/users/{{ postComment.user_id }}" class="margin-right-of">
                        {{ postComment.user ?
                        (postComment?.user?.name) :
                        (postComment.userLoadingError ?
                        '[Error: ' + postComment.userLoadingError + ']' :
                        '[Loading Username...]') }}
                    </a>
                    <span class="role" *ngFor="let role of postComment?.user?.roles_info">[{{role.name}}]</span>
                </div>
                <button class="margin-left-of margin-above {{ (currentUser?.is_admin || postComment?.user_id === currentUser?.id) ? '' : 'hidden' }}" (click)="deleteComment(postComment)">Delete</button>
            </div>
            <p>{{ postComment?.content }}</p>
            <div class="plain-row flex-content-to-the-right margin-below">
                <div class="likes {{ postComment?.opinion === 'liked' ? 'active' : '' }}">
                    <span>{{ postComment?.likes }}</span><button class="" (click)="likeComment(postComment)"> <img src="assets/like-&-dislike-light-theme-icon.png" class="default-like-icon"></button>
                                                                                                              <!-- <img src="assets/like-hover-icon.png" class="hover-like-icon">
                                                                                                              <img src="assets/liked-icon.png" class="submitted-like-icon"> -->
                </div>
                <div class="dislikes {{ postComment?.opinion === 'disliked' ? 'active' : '' }}">
                    <span>{{ postComment?.dislikes }}</span><button class="" (click)="dislikeComment(postComment)">
                        <img src="assets/like-&-dislike-light-theme-icon.png" class="default-dislike-icon"></button>
                        <!-- <img src="assets/dislike-hover-icon.png" class="hover-dislike-icon">
                        <img src="assets/disliked-icon.png" class="submitted-dislike-icon"> -->
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="postComments.length === 0">
            <h6 *ngIf="!isLoadingPostComments; else loadingComments">No comments.</h6>
        </ng-container>

        <ng-template #loadingComments>
            <h5>Loading Comments...</h5>
        </ng-template>
    </section>

    <form class="{{ currentUser ? '' : 'hidden' }}" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <textarea id="post-comment" type="text" class="form-control" name="content" [(ngModel)]="form.content" required
            maxlength="255" #content="ngModel" (input)="postCommentServerErrors.content = null"></textarea>
        <div class="alert-danger" *ngIf="(content.errors && f.submitted) || postCommentServerErrors.content">
            <div *ngIf="content?.errors?.['required'] && isSubmitCommentFailed">Content is required</div>
            <div *ngIf="content?.errors?.['maxlength']">
                Comment must be at most 255 characters
            </div>
            <ng-container *ngIf="postCommentServerErrors.content">
                <div *ngFor="let error of postCommentServerErrors.content;">{{ error }}</div>
            </ng-container>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSubmitCommentFailed">
            Comment upload failed!<br />{{ postCommentErrorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="postCommentUploadIsSuccessful">
            Your post comment upload is successful!
        </div>

        <button class="btn btn-edit" id="btn-submit-post-comment">Submit comment</button>
    </form>
</ng-container>