.row {
    display: flex;
    flex-direction: row;
}

.margin-top {
    margin-top: 2em;
}

#btn-login {
    width: 4em;
}

label {
    margin-left: 1.3vw;
}
#remember-me-checkbox {
    margin-left: 2vw;
}