body {
    font-family: sans-serif, Helvetica, Arial;
    background-color: rgb(247, 247, 247);
}

/* #thread-list {
    height: 38em;
    overflow: auto;
} */

a > div {
    padding: 5px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 5px;
    white-space: pre-wrap;
}
a:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

.plain-row {
    display: flex;
    flex-direction: row;
}