<h2>Posts</h2>
<!-- <section id="thread-list"> -->
<ng-container  *ngIf="posts.length === 0">
    <h3 *ngIf="!isLoadingPosts; else loadingPosts">No posts.</h3>
</ng-container>

<ng-template #loadingPosts>
    <h3>Loading Posts...</h3>
</ng-template>
<a *ngFor="let post of posts" routerLink="posts/{{ post.id }}">
    <div class="plain-row">
        {{ post.title }}
        <!-- <span class="role" *ngFor="let role of post?.user?.roles_info">[{{role.name}}]</span> -->
    </div>
</a>

<!-- <a *ngFor="let post of posts | paginate: {itemsPerPage: 10,
                                          currentPage: {{ post }} }"></a> -->

<!-- <ngb-pagination [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination> -->
<!-- <mat-paginator #paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
<!-- </section> -->